In [2]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [3]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [4]:
my_first_db = mongo['my_db']

In [5]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [6]:
#The following code creates a collection called my_collection and assigns 
# it to the variable my_first_collection. Then it checks for the existence 
#of the collection.
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [7]:
#inserts a Python dictionary
#In this code, the insert_one method is called by the collection 
#(not the document), and takes a simple dictionary as its argument.
my_first_collection.insert_one({'name': 'Mickey'})

In [8]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [13]:
# SKILL DRILL: Add a document to the collection by inserting a dictionary of a 
# character whose name is "Minnie" and whose age is 90.
my_first_collection.insert_one({'name': 'Minnie', 'age' : '90'})

In [15]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey'}
{'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie'}
{'_id': ObjectId('638d4c90f12e8dc75636dc51'), 'name': 'Minnie', 'age': '90'}

In [16]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey'}
{'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie'}
{'_id': ObjectId('638d4c90f12e8dc75636dc51'), 'name': 'Minnie', 'age': '90'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [17]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [18]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey'}
{'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie'}
{'_id': ObjectId('638d4c90f12e8dc75636dc51'), 'name': 'Minnie', 'age': '90'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('638d4d14f12e8dc75636dc52'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('638d4d14f12e8dc75636dc53'), 'name': 'Daisy', 'species': 'duck'}

In [19]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('638d4d14f12e8dc75636dc52'), 'name': 'Donald', 'species': 'duck'}

In [20]:
# SKILL DRILL: 
query = {'species': 'duck'}
results = my_first_collection.find(query)

In [21]:
# $gt = mongo and greater than
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [25]:
#SKILL DRILL:Filter for all documents over age 88 / Retrieve all documents for characters 
# whose age is less than 88 by using the comparison operator for "less than," $lt. 
#Don't forget the quotation marks around the comparison operator!
# Filter for characters whose names start with a letter that comes after "E".
query = {'age' : {'$lt':88}}
results = my_first_collection.find(query)
[result for results in results]

[{'_id': ObjectId('638d4d14f12e8dc75636dc52'),
  'name': 'Donald',
  'species': 'duck'}]

In [26]:
# update arguement using update_one
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie'},
 {'_id': ObjectId('638d4c90f12e8dc75636dc51'), 'name': 'Minnie', 'age': '90'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc52'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc53'),
  'name': 'Daisy',
  'species': 'duck'}]

In [27]:
query = {'name': 'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie Mouse'},
 {'_id': ObjectId('638d4c90f12e8dc75636dc51'), 'name': 'Minnie', 'age': '90'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc52'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc53'),
  'name': 'Daisy',
  'species': 'duck'}]

In [28]:
# Delete a document

query = {'name': 'Minnie'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie Mouse'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc52'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('638d4d14f12e8dc75636dc53'),
  'name': 'Daisy',
  'species': 'duck'}]

In [ ]:
# SKILL DRILL: Delete a document in which age is greater than 88, and then display the 
#collection to confirm the deletion. Hint: Use a comparison operator. Delete a document 
#whose _id is 3. Display the collection to confirm the deletion.
query = {'$gt': '88'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

In [29]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('638d4acbf12e8dc75636dc4f'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('638d4c4bf12e8dc75636dc50'), 'name': 'Minnie Mouse'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [31]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [32]:
#Listing the collection names returns an empty list, which confirms 
# that the collection was indeed deleted from the database.
my_first_db.list_collection_names()

[]

In [33]:
mongo.drop_database('my_db')

In [34]:
mongo.list_database_names()

['admin', 'config', 'local']